.cookie-consent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: #827f7f;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    z-index: 3000;
}

.cookie-consent-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.cookie-consent-button:hover {
    background-color: #45a049;
}

.cookie-consent-container p {
    font-size: 14px;
}