.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.linkedin-container,
.email-container {
    animation: slideInFromLeft 0.7s ease-out, fadeIn 0.7s ease-in-out;
    background-color: #f0f0f041;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.linkedin-container {
    cursor: pointer;
    background-color: #0a66c2;
}

.email-container {
    cursor: pointer;
    background-color: #30aa0041;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.linkedin-container:hover,
.email-container:hover {
    transform: translateY(-5px);
}

.linkedin-container p,
.email-container p {
    margin: 0;
    font-size: 16px;
}

.linkedin-container img {
    display: flex;
    width: 40px;
    height: auto;
}

.form-container {
    animation: slideInFromLeft 0.7s ease-out, fadeIn 0.7s ease-in-out;
}

.input-group {
    margin-bottom: 20px;
    width: 52vw;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

.input-group textarea {
    height: 200px;
}

.submit-button input {
    background-color: #e07f23;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.popup {
    position: fixed;
    right: 0;
    top: 20%;
    background-color: #f0f0f041;
    padding: 20px;
    border: 1px solid #ccc;
    animation: slideIn 0.5s forwards;
}

.green-belt {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: green;
    width: 100%;
    animation: decreaseWidth 5s forwards;
}

.slide-out {
    animation: slideOut 0.5s forwards;
}

@keyframes decreaseWidth {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@keyframes slideIn {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}

@keyframes slideOut {
    from {
        right: 0;
    }

    to {
        right: -100%;
    }
}

@media (max-width: 430px) {

    .linkedin-container {
        margin-top: 60px;
    }

}