/* Hamburger button styling */
nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    /* Fix the navbar's position */
    top: 0;
    /* Position it at the top */
    left: 0;
    /* Align it to the left */
    width: 100%;
    /* Stretch it across the full width */
    z-index: 1000;
    /* Ensure it stays on top of other content */
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav button {
    display: none;
}

@media (max-width: 768px) {
    nav a {
        display: none;
    }

    nav button {
        display: block;
    }

    .isOpen a {
        display: block;
    }
}